<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.spring.nft.QnAReplyMapper">

  <insert id="insert">
    insert into ${qnareply}
    (${qnaboardNo}, ${replyParentNo}, ${replyDepth}, ${replyContent}, ${memberNickname}, ${memberId})
    values (#{qnaboardNo}, #{replyParentNo}, #{replyDepth}, #{replyContent}, #{memberNickname}, #{memberId})
  </insert>

  <select id="select_all_by_qnaboard_no" resultType="QnAReplyVO">
    select * from ${qnareply}
    where ${qnaboardNo} = #{qnaboardNo}
    order by ${replyParentNo} desc, ${replyNo} asc
  </select>
  
  <update id="update">
    update ${qnareply}
    set ${replyContent} = #{replyContent}
    where ${replyNo} = #{replyNo}
  </update>
  
  <delete id="delete">
    delete from ${qnareply} where ${replyNo} = #{replyNo}
  </delete>
  
</mapper>
