<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언 -->
<properties>
<property value="member" name="member"/>
<property value="member_no" name="memberNo"/>
<property value="member_id" name="memberId"/>
<property value="member_password" name="memberPassword"/>
<property value="member_name" name="memberName"/>
<property value="member_nickname" name="memberNickname"/>
<property value="member_phone" name="memberPhone"/>
<property value="member_email" name="memberEmail"/>
<property value="member_uid" name="memberUid"/>
<property value="member_account" name="memberAccount"/>
<property value="art" name="art"/>
<property value="art_no" name="artNo"/>
<property value="member_id" name="memberId"/>
<property value="art_name" name="artName"/>
<property value="art_price" name="artPrice"/>
<property value="art_content" name="artContent"/>
<property value="art_show_date" name="artShowDate"/>
<property value="art_basic_fee" name="artBasicFee"/>
<property value="art_reply_count" name="artReplyCount"/>
<property value="art_wish_count" name="artWishCount"/>
<property value="art_view_count" name="artViewCount"/>
<property value="art_file_name" name="artFileName"/>
<property value="member_nickname" name="memberNickname"/>
<property value="member_account" name="memberAccount"/>
<property value="art_json_uri" name="artJsonUri"/>
<property value="art_token_id" name="artTokenId"/>
<property value="auction" name="auction"/>
<property value="auction_no" name="auctionNo"/>
<property value="art_no" name="artNo"/>
<property value="member_id" name="memberId"/>
<property value="member_nickname" name="memberNickname"/>
<property value="auction_money" name="auctionMoney"/>
<property value="auction_date" name="auctionDate"/>
<property value="auction_result" name="auctionResult"/>
<property value="qnaboard" name="qnaboard"/>
<property value="qnaboard_no" name="qnaboardNo"/>
<property value="qnaboard_title" name="qnaboardTitle"/>
<property value="qnaboard_content" name="qnaboardContent"/>
<property value="member_id" name="memberId"/>
<property value="member_nickname" name="memberNickname"/>
<property value="qnaboard_date" name="qnaboardDate"/>
<property value="qnareply_count" name="qnareplyCount"/>
<property value="qnareply" name="qnareply"/>
<property value="reply_no" name="replyNo"/>
<property value="qnaboard_no" name="qnaboardNo"/>
<property value="reply_parent_no" name="replyParentNo"/>
<property value="reply_content" name="replyContent"/>
<property value="member_id" name="memberId"/>
<property value="member_nickname" name="memberNickname"/>
<property value="reply_date" name="replyDate"/>
<property value="wishlist" name="wishlist"/>
<property value="wish_no" name="wishNo"/>
<property value="member_id" name="memberId"/>
<property value="art_name" name="artName"/>
<property value="art_price" name="artPrice"/>
<property value="art_file_name" name="artFileName"/>
<property value="art_no" name="artNo"/>
<property value="art_reply" name="artReply"/>
<property value="art_reply_no" name="artReplyNo"/>
<property value="art_no" name="artNo"/>
<property value="art_reply_parent_no" name="artReplyParentNo"/>
<property value="art_reply_content" name="artReplyContent"/>
<property value="art_reply_date" name="artReplyDate"/>
<property value="member_id" name="memberId"/>
<property value="member_nickname" name="memberNickname"/>
<property value="art_payment" name="artPayment"/>
<property value="payment_no" name="paymentNo"/>
<property value="member_id" name="memberId"/>
<property value="art_no" name="artNo"/>
<property value="art_name" name="artName"/>
<property value="art_price" name="artPrice"/>
<property value="merchant_uid" name="merchantUid"/>
<property value="payment_date" name="paymentDate"/>
<property value="payment_type" name="paymentType"/>
<property value="art_file_name" name="artFileName"/>
<property value="refund" name="refund"/>
<property value="refund_no" name="refundNo"/>
<property value="member_id" name="memberId"/>
<property value="refund_account" name="refundAccount"/>
<property value="refund_money" name="refundMoney"/>
<property value="nft" name="nft"/>
<property value="nft_no" name="nftNo"/>
<property value="nft_token_id" name="nftTokenId"/>
<property value="nft_contract_alias" name="nftContractAlias"/>
<property value="nft_owner" name="nftOwner"/>
<property value="nft_previous_owner" name="nftPreviousOwner"/>
<property value="nft_json_uri" name="nftJsonUri"/>
<property value="nft_tx_hash" name="nftTxHash"/>
<property value="nft_created_at" name="nftCreatedAt"/>
<property value="nft_updated_at" name="nftUpdatedAt"/>
</properties>


<settings>
<setting value="true" name="mapUnderscoreToCamelCase"/>
</settings>

<typeAliases>
<package name="project.spring.nft.domain"/>
</typeAliases>

</configuration>