<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언 -->
	<properties>
		 <property name="member" value="member"/>
		 <property name="memberNo" value="member_no"/>
		 <property name="memberId" value="member_id"/>
		 <property name="memberPassword" value="member_password"/>
		 <property name="memberName" value="member_name"/>
		 <property name="memberNickname" value="member_nickname"/>
		 <property name="memberPhone" value="member_phone"/>
		 <property name="memberEmail" value="member_email"/>
		 <property name="memberUid" value="member_uid"/>
		 
		 <property name="art" value="art"/>
		 <property name="artNo" value="art_no"/>
		 <property name="memberId" value="member_id"/>
		 <property name="artName" value="art_name"/>
		 <property name="artPrice" value="art_price"/>
		 <property name="artContent" value="art_content"/>
		 <property name="artShowDate" value="art_show_date"/>
		 <property name="artBasicFee" value="art_basic_fee"/>
		 <property name="artReplyCount" value="art_reply_count"/>
		 <property name="artWishCount" value="art_wish_count"/>
		 <property name="artViewCount" value="art_view_count"/>
		 <property name="artFileName" value="art_file_name"/>
		 <property name="memberNickname" value="member_nickname"/>
		 
		 <property name="auction" value="auction"/>
		 <property name="auctionNo" value="auction_no"/>
		 <property name="artNo" value="art_no"/>
		 <property name="memberId" value="member_id"/>
		 <property name="memberNickname" value="member_nickname"/>
		 <property name="auctionMoney" value="auction_money"/>
		 <property name="auctionDate" value="auction_date"/>
		 <property name="auctionResult" value="auction_result"/>
		 
		 <property name="qnaboard" value="qnaboard"/>
		 <property name="qnaboardNo" value="qnaboard_no"/>
		 <property name="qnaboardTitle" value="qnaboard_title"/>
		 <property name="qnaboardContent" value="qnaboard_content"/>
		 <property name="memberId" value="member_id"/>
		 <property name="memberNickname" value="member_nickname"/>
		 <property name="qnaboardDate" value="qnaboard_date"/>
		 <property name="qnareplyCount" value="qnareply_count"/>

		<property name="qnareply" value="qnareply"/>
		<property name="replyNo" value="reply_no"/>
		<property name="qnaboardNo" value="qnaboard_no"/>
		<property name="replyParentNo" value="reply_parent_no"/>
		<property name="replyDepth" value="reply_depth"/>
		<property name="replyContent" value="reply_content"/>
		<property name="memberId" value="member_id"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="replyDate" value="reply_date"/>
		
		<property name="wishlist" value="wishlist"/>
		<property name="wishNo" value="wish_no"/>
		<property name="memberId" value="member_id"/>
		<property name="artName" value="art_name"/>
		<property name="artPrice" value="art_price"/>
		<property name="artFileName" value="art_file_name"/>
		<property name="artNo" value="art_no"/>
		
		<property name="artReply" value="art_reply"/>
		<property name="artReplyNo" value="art_reply_no"/>
		<property name="artNo" value="art_no"/>
		<property name="artReplyParentNo" value="art_reply_parent_no"/>
		<property name="artReplyContent" value="art_reply_content"/>
		<property name="artReplyDate" value="art_reply_date"/>
		<property name="memberId" value="member_id"/>
		<property name="memberNickname" value="member_nickname"/>
		
		<property name="artPayment" value="art_payment"/>
		<property name="paymentNo" value="payment_no"/>
		<property name="memberId" value="member_id"/>
		<property name="artNo" value="art_no"/>
		<property name="artName" value="art_name"/>
		<property name="artPrice" value="art_price"/>
		<property name="merchantUid" value="merchant_uid"/>
		<property name="paymentDate" value="payment_date"/>
		<property name="paymentType" value="payment_type"/>
		<property name="artFileName" value="art_file_name"/>
		
		<property name="refund" value="refund"/>
		<property name="refundNo" value="refund_no"/>
		<property name="memberId" value="member_id"/>
		<property name="refundAccount" value="refund_account"/>
		<property name="refundMoney" value="refund_money"/>
	</properties>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="project.spring.nft.domain"/>
	</typeAliases>
</configuration>