<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언 -->
	<properties>
		<!-- * property - name : mapper.xml에서 사용될 이름 
		- value : DB 테이블 및 컬럼 이름 -->
		 <property name="member" value="member"/>
		 <property name="memberNo" value="member_no"/>
		 <property name="memberId" value="member_id"/>
		 <property name="memberPassword" value="member_password"/>
		 <property name="memberName" value="member_name"/>
		 <property name="memberNickname" value="member_nickname"/>
		 <property name="memberPhone" value="member_phone"/>
		 <property name="memberEmail" value="member_email"/>
		 <property name="memberUid" value="member_uid"/>
		 
		 <property name="art" value="art"/>
		 <property name="artNo" value="art_no"/>
		 <property name="memberNo" value="member_no"/>
		 <property name="artName" value="art_name"/>
		 <property name="artPrice" value="art_price"/>
		 <property name="artContent" value="art_content"/>
		 <property name="artDate" value="art_date"/>
		 <property name="artReplyCount" value="art_reply_count"/>
		 <property name="artWishCount" value="art_wish_count"/>
		 <property name="artViewCount" value="art_view_count"/>
	</properties>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="project.spring.nft.domain"/>
	</typeAliases>
</configuration>